%p#notice= notice
%p
  %b Name:
  = @person.name
%p
  %b Company:
  = @person.company
%p
  %b Position:
  = @person.position
/ #{link_to 'Details', person_path(@person)} | #{link_to 'Back', people_path}