= form_for(@job) do |f|
  - if @job.errors.any?
    #error_explanation
      %h2
        = pluralize(@job.errors.count, "error")
        prohibited this person from being saved:
      %ul
        - @job.errors.full_messages.each do |msg|
          %li= msg
  .new_job_left
    .field
      = f.text_field :title, :placeholder => 'Job Title'
    .field
      %select{:name => 'job[position_type]'}
        - Job::EMPLOYMENT.each do |type|
          %option
            = type
    .field
      = f.text_area :description, :placeholder => 'Job Description'
  .new_job_right
    .field
      = f.file_field :company_logo
    .field
      = f.text_field :company, :placeholder => 'Company Name'
    .field
      = f.text_field :url, :placeholder => 'Company URL'
    = f.submit 'Publish', class: 'btn red_btn join_btn'
  %div{:style => 'clear:both;'}
