<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @talk.title %>
</p>

<p>
  <b>Description:</b>
  <%= @talk.description %>
</p>


<%= link_to 'Edit', edit_talk_path(@talk) %> |
<%= link_to 'Back', talks_path %>
