%p#notice= notice
%p
  %b Title:
  = @talk.title
%p
  %b Description:
  = @talk.description
%p
  %b What Event?:
  = @talk.event.title if @talk.event

= link_to 'Edit', edit_talk_path(@talk)
|
\#{link_to 'Back', talks_path}