%p#notice= notice

%p
  %b Title:
  = @event.title
%p
  %b Location:
  = @event.location
%p
  %b Date:
  = l @event.date, format: :medium
%p
  %b Description:
  = @event.description

= link_to 'Edit', edit_event_path(@event)
\|
= link_to 'Back', events_path
