.wide_bg.main_img_container
  .wrapper.main_event_container
    .event_month_title
      %h1
        %span= l @event.date, format: :month
    .event_date
      %h2= l @event.date, format: :short_date
    .speakers_container
      %h5= @event.description
    /   .speaker.speaker_1
    /     .speaker_pic_container
    /       %img{:src => "/assets/zack_face.jpg"}/
    /       .speaker_name Zack Hubert
    /     .speaker_topic
    /       Batman JS
    /     %p.topic_details
    /       Bacon ipsum dolor sit amet chuck jowl ground round meatball capicola sirloin biltong filet mignon.
    %a.btn.red_btn.join_btn{href: @event.url, target: "_blank"}
      Join This Talk
.wide_bg.gray_bg
  .wrapper.main_event_container
    .two_column
      / .column.column_1
      /   %h3
      /     What
      /   %p
      /     This meet ups topics will consist of Batman JS, and awesomeness of lliving.
      .column.column_1
        %h3
          Where
        %p
          #{@event.location.name}
          %br
          #{@event.location.address}
          %br
          #{@event.location.city} #{@event.location.state}, #{@event.location.zip}
      .column.column_2
        %h3
          When
        %p
          #{l @event.date, format: :hour_minute} - #{l @event.date + 3.hours, format: :hour_minute}
.wide_bg.dark_bg
  .wrapper
    .details_section
      .icon.icon-gear_icon
      %h4
        %span
          What is full stack
      %p
        Full Stack: North County is an event where web designers and developers can come together to learn from and teach each other about emerging technologies. While speakers at Full Stack focuss primarily on Ruby, JavaScript, HTML, and CSS, we encourage all local web professionals to join us for vivid discussions around technology across the stack in any language.
    .details_section
      .icon.icon-beer_icon
      %h4
        %span
          Drinks and snacks are provided
      %p
        Come with a thirst for knowledge and for some good ol’ craft beer!
.wide_bg.light_gray_bg
  .wrapper
    .details_section
      %h4
        %span
          Interested in Speaking at Full Stack
      %p
        Kevin is going to put an awesome blurb here about talking at full stack!
      =mail_to 'talk@fullstacktalks.com', %Q[I'm Interested], :subject => %Q[I'm Interested in Speaking at Full Stack] , :class => "btn red_btn speaker_interest_btn", :target => "_blank"
    .details_section
      %h4
        %span
          Sponsored By
      .sponsor_icons
        .icon.icon-pco_logo