.wide_bg.main_img_container
  .wrapper.main_event_container.topper
    .event_month_title
      %h1
        %span= l @event.date, format: :month
    .event_date
      %h2= l @event.date, format: :short_date
    .event_topic_container
      %div.topic_details!= @event.description
    %a.btn.red_btn.join_btn{href: @event.url, target: '_blank'}
      RSVP For This Event
.wide_bg.gray_bg
  .wrapper.main_event_container
    .two_column
      .column.column_1
        %h3
          Where
        %p
          =@event.location.name
          %br
          =@event.location.address
          %br
          =@event.location.city
          #{@event.location.state},
          =@event.location.zip
      .column.column_2
        %h3
          When
        %p
          #{l @event.date, format: :hour_minute} - #{l @event.date + 3.hours, format: :hour_minute}