!!!
%html
  %head
    %title Full Stack Talks
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    - flash.each do |key, message|
      %p{ class: key }= message
    .container
      %header
        .icon.icon-full-stack-icon
        .icon.icon-full-stack-logo
      = yield
      %footer
        .copyright
          = Time.now.year
          &copy; Full Stack Talks
