!!!
%html
  %head
    %title FullStackTalks
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %link{:href => "http://fonts.googleapis.com/css?family=Lato", :rel => "stylesheet", :type => "text/css"}/
  %body
    - flash.each do |key, message|
      %p{ class: key }= message
    %header
      .wrapper
        .fullstack_logo
          .icon.icon-full_stack_icon
          .icon.icon-full_stack_logo
          %span.tagline north county
        / %ul.main_nav
        /   %li
        /     %a{:href => "#"} About
        /   %li
        /     %a{:href => "#"} Events
        /   %li
        /     %a{:href => "#"} News
    .container
      = yield
    %footer
      .wrapper
        / %ul.footer_nav
        /   %li
        /     %a About
        /   %li
        /     %a News
        /   %li
        /     %a Events
        /   %li
        /     %a Contact
        .copyright_info
          2013 &copy Full Stack North County
